<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    h3 {
    margin: 20px;
    font-weight: bold;
    }

    h4 {
    margin: 20px;
    }
    </style>
    <title>Named Entities Analysis</title>
</head>
<body>
<div></div>

<h3>Total number of Named entities: {{ entity_counter }}</h3>
<h4>The histogram shows which are the most recurrent Named entity types.</h4>

{{ graphte|safe }}

<br>
<h4>The histogram shows which are the most recurrent Named entities.</h4>

{{ graphent|safe }}

<br>
<br>
<h3>Total number of coordinated Named entities of the same type: {{ coord_type_counter }}</h3>
<h3>The frequency of coordinated entities  of the same type is : {{ freq_coord }} % </h3>
<h4>The histogram shows which are the most recurrent Named entity types among groups of coordinated Named entities.</h4>

{{ graphco|safe }}

<br>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>